.sidebar{
    position: fixed;
    width: 280px;
    height: 100vh;
    background-color: var(--darkRedSecondary);
    padding: 30px 40px 40px 40px;
    transition: transform .5s ease;
    z-index: 999;
    &__heading{
        color: var(--white);
        font-size: 1.375rem; //22px
        margin-bottom: 4px;
    }
    
    &__menu{
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }   
    &__item{
        margin-bottom: 8px;
    }
    &__link{
        color: var(--white);
        text-decoration: none;
        transition: all .2s ease;

        &:hover{
            color: var(--redPrincipal);
            font-weight: 700;
            &::before{
                content: '';
            }
        }
        &::before{
            position: absolute;
            height: 20px;
            width: 5px;
            background-color: var(--redPrincipal);
            left: 0;
        }
    }
    @media (min-width: 800px) {
        width: $sidebarWidth;
    }
    
}